/* RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*CLEARFIX*/

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
body{
    font-family:'Whitney',Arial, Helvetica, sans-serif ;
}
.float-left{
    float: left;
}
.float-right{
    float: right;
}

/* HEADER */
header{
    background-color: #255ee9;
    width: 100%;
    height: 80px;
    line-height: 80px;
}
.header-container{
    width: 80%;
    height: 100%;
    min-width: 600px;
    margin: 0 auto;
}
.header-container img{
    vertical-align: middle;
}
header nav{
    width: calc(100% - 185.00px);
    text-align: center;
}
.header-container li{
    display: inline;
    list-style: none;
    margin: 0 20px;
}
.header-container a{
    text-decoration: none;
    color: white;
}
/* BUTTON */
.single-button{
    border-radius: 50px;
    padding: 8px;
    border: none;
}

/* JUMBOTRON */
.jumbotron{
    height: 60vh;
    text-align: center;
}
.jumbotron img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.jumbotron h1{
    font-size: 2.2rem;
    margin-bottom: 20px;
}
.jumbotron p{
    line-height: 1.5;
    font-size: 0.9rem;
    margin-bottom: 20px;
}
.jumbotron-text{
    color: white;
}
.relative{
    position: relative;
}
.absolute{
    position: absolute;
}
.center{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* JUMBO BUTTON */
.background-white{
    background-color: white;
}
.background-black{
    background-color: black;
    color: white;
}
/* MAIN */
.main-container{
    height: 80vh;
}
.main-container img{
    width: 60%;
}
.main-text{
    width: 30%;
    padding: 35px;
}
.main-text h1{
    margin-bottom: 20px;
}
.main-text p{
    font-size: 0.9rem;
}
/* SECOND SECTION */
.bg-grey{
    background-color: rgba(246,246,246,255);  
}